.frame1{
    background-color: aqua;
    color: white;
}
.frame2{
    background-color: rgb(56, 35, 247);
}
.frame3{
    background-color: rgb(255, 0, 0);
}
.frame4{
    background-color: rgb(4, 235, 15);
}